@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================================== FONT FAMILY ====================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ===================================== FONT FAMILY ====================================== */

.home_dropDown {
  position: relative;
}

.home_dropDown_items {
  padding: 10px;
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  left: -23px;
  top: 190%;
  transition: 0.5s all linear;

  overflow-y: scroll;
  z-index: 1;
}
/* .home_dropDown:hover > .home_dropDown_items {
  visibility: visible;
  opacity: 1;
} */
/* .home_dropDown:hover .home_chevron {
  transition: 0.3s;
  transform: rotate(180deg);
} */

.home_dropDown ul li:hover {
  background-color: #8aa4cd;
  border-radius: 10px;
}
.medical_device_discount {
  clip-path: polygon(9% 21%, 100% 20%, 88% 48%, 100% 74%, 9% 74%, 0 49%);

  padding: 20px;
  width: fit-content;
}
.medical_device {
  color: #828282;
  position: relative;
}
.medical_device::before {
  content: " ";
  display: block;
  width: 100%;
  background-color: #828282;
  height: 1px;
  position: absolute;
  top: 9px;
  left: 0;
}
